.additional-information {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top:-19px;
      left: 0;

      width: 100%;
      min-width: 768px;
      height: 1px;

      background-color: $tablet-border-grey;
    }

    &::before {
      content: "";

      position: absolute;
      z-index: -1;
      bottom: -20px;

      width: 100%;
      height: 462px;

      background-color: $additional-information-grey;
    }
  }
  @media (min-width: $desktop-width) {
    &::before {
      top: 161px;
    }

    &::after {
      display: none;
    }

  }
}

.additional-information__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.additional-information__title {
  margin-bottom: 40px;
  padding-top: 25px;
  @media (min-width: $tablet-width) {
    margin-bottom: 64px;

  }
  @media (min-width: $desktop-width) {
    margin-bottom: 146px;

  }
}

.additional-information__paragraph {
  margin-top: 14px;
  margin-bottom: 19px;

  font-family: "Arial" , sans-serif;
  font-weight: 400;
  color: $black-text;
  @media (min-width: $tablet-width) {
    width: 700px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 70px;
    text-align: left;
  }
}

.additional-information__list {
  display: flex;
  gap: 32px;
  margin: 0;
  @media (min-width: $tablet-width) {
    gap: 42px;

  }
}

.additional-information__list__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 55px;

  }
  @media (min-width: $desktop-width) {
    display: block;

  }
}

.additional-information__wrapper {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid $special-grey;
  border-radius: 3px;
  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    padding-bottom: 20px;

  }
}

.additional-information__name {
  position: absolute;
  z-index: 2;
  top: 45px;

  margin: 0;
  padding: 0 14px;

  font-family: "Arial" , sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: $black-text;
  text-align: center;

  background-color: $additional-information-grey;
  @media (min-width: $tablet-width) {
    top: 63px;

    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }
  @media (min-width: $desktop-width) {
    top: 61px;
    background-color: $additional-information-grey;

  }
}

.additional-information__info {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 37px;

  }
}

.additional-information__info-paragraph {
  margin-top: 34px;
  margin-bottom: 39px;

  font-weight: 400;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    justify-self: right;

    width: 174px;
    margin-top: 6px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
  @media (min-width: $desktop-width) {
    width: 327px;
    margin-top: 54px;
    text-align: left;

  }
}

.additional-information__media__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet-width) {
    width: 592px;
    margin-right: auto;
    margin-left: auto;

  }
  @media (min-width: $desktop-width) {
    width: auto;
    margin-top: -18px;
    margin-right: 0;
    margin-left: 194px;
  }

}

.additional-information__image {
  display: block;
  margin: 0 auto;
}

.additional-information__slider {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-right: 40px;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 46px;

  font-size: 16px;
  line-height: 20px;

  &::after {
    content: "";

    position: absolute;
    z-index: 2;
    top: 24px;
    left: 57px;

    width: 85px;
    height: 14px;

    background-image: url("../img/additional-information-slider.svg");
  }
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-left: 13px;
    padding-top: 32px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";

      position: absolute;
      z-index: 2;
      bottom: 34px;
      left: 70px;

      width: 426px;
      height: 40px;

      background-image: url("../img/additional-information-slider-tablet.png");
      }
  }
  @media (min-width: $desktop-width) {
    margin-right: 7px;
    margin-left: 12px;
    padding-top: 34px;

    &::after {
      top: 26px;
      left: 71px;
    }
  }
}

.additional-information__slider span {
  font-weight: 400;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}
