.page-footer {
  width: 100%;
  margin-top: 35px;
  background-color: $basic-grey;

  &--main-page {
    margin-top: 0;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 86px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  cursor: pointer;
  margin-top: 39px;
  margin-bottom: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    margin-bottom: 60px;
  }
}

.page-footer__media-list {
  position: relative;

  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 28px;

  list-style-type: none;

  &::after {
    content: "";

    position: absolute;
    bottom: 8px;
    left: 0;

    width: 100%;
    min-width: 280px;
    height: 1px;

    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 100%;
    min-width: 280px;
    height: 1px;

    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 24px;
    margin-top: 5px;
    margin-left: 29px;
    padding: 0;
  }
}

.page-footer__media-link {
  display: block;

  mask-position: center;
  mask-repeat: no-repeat;

  &--vkontakte {
    width: 23px;
    height: 16px;

    background-color: $grey-media;

    mask-image: url("../img/sprite.svg#page-footer-icon-vkontakte");
    mask-size: 22px 16px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;

      mask-size: 30px 22px;
    }
  }

  &--instagramm {
    width: 16px;
    height: 16px;

    background-color: $grey-media;

    mask-image: url("../img/sprite.svg#page-footer-icon-instagramm");
    mask-size: 16px 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;

      mask-size: 23px 23px;
    }
  }

  &--facebook {
    width: 13px;
    height: 20px;

    background-color: $grey-media;

    mask-image: url("../img/sprite.svg#page-footer-icon-facebook");

    mask-size: 10px 18px;
    @media (min-width: $tablet-width) {
      width: 28px;
      height: 30px;

      mask-size: 15px 29px;
    }
  }

  &:hover {
    background-color: $primary;
  }

  &:active {
    opacity: 0.3;
    background-color: $primary;
  }
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;

  background-color: $grey-media;

  mask-image: url("../img/sprite.svg#footer-academy-logo");
  mask-size: 27px 34px;

  &:active {
    background-color: $primary;
  }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.page-footer__copyright {
  display: flex;
  gap: 139px;
  align-items: center;
  justify-content: space-between;

  margin-top: 13px;
  margin-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $black-text;

  &:hover .page-footer__copyright-logo {
    background-color: $primary;
  }

  &:active {
    opacity: 0.3;
  }

  span {
    @media (min-width: $tablet-width) {
      width: 115px;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 22px;
    width: 200px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}
