.page-main__type-of-products {
  margin-top: 20px;
}

.page-main__additional-information {
  width: 100%;
  margin-top: 27px;
  background-color: $additional-information-grey;
  @media (min-width: $tablet-width) {
    background-color: inherit;
  }
  @media (min-width: $desktop-width) {
    margin-top: 7px;

  }
}
