.page-footer {
  width: 100%;
  background-color: $basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    margin-bottom: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__media-list {
  position: relative;

  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 28px;

  list-style-type: none;

  &::after {
    content: "";

    position: absolute;
    bottom: 8px;
    left: 0;

    width: 100%;
    min-width: 280px;
    height: 1px;

    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: -1px;
    left: 0;

    width: 100%;
    min-width: 280px;
    height: 1px;

    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 24px;
    margin-top: 5px;
    margin-left: 29px;
    padding: 0;
  }
}

.page-footer__media-link {
  display: block;

  mask-position: center;
  mask-repeat: no-repeat;

  &--vkontakte {
    width: 23px;
    height: 16px;

    background-color: $grey-media;

    mask-image: url("../img/page-footer-icon-vkontakte.svg");
    mask-size: contain;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagramm {
    width: 16px;
    height: 16px;

    background-color: $grey-media;

    mask-image: url("../img/page-footer-icon-instagramm.svg");
    mask-size: contain;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 13px;
    height: 20px;

    background-color: $grey-media;

    mask-image: url("../img/page-footer-icon-facebook.svg");
    mask-size: contain;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 30px;
    }
  }

  &:hover {
    background-color: $primary;
  }

  &:active {
    background-color: $primary;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  gap: 139px;
  align-items: center;
  justify-content: space-between;

  margin-top: 13px;
  margin-bottom: 22px;

  font-family: "Arial" , sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $black-text;

  @media (min-width: $tablet-width) {
    gap: 22px;
    width: 200px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }

  &:active {
    opacity: 0.3;
  }

  span {
    @media (min-width: $tablet-width) {
      width: 115px;
    }
  }

  &-logo {
    fill: $grey-media;
    @media (min-width: $tablet-width) {
      margin-top: 5px;
    }

    &:hover {
      fill: $primary;
    }

    &:active {
      fill: $primary;
    }
  }
}
