.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;
  background-color: $white;
  }

.page-header__logo {
  margin-right: auto;
}

.page-header__logo-mobile {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.page-header__toggle-button {
  width: 24px;
  height: 19px;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  &--open {
    background-image: url("../img/header-menu-toggler-open.svg");
  }

  &--close {
    //background-image: url("../img/header-menu-toggler-close.svg");
    //Включает отображение тоглера закрытия выпадающего меню
  }
}

.page-nav {
  content: "";

  position: absolute;
  left: 0;

  width: 100%;
  min-width: 320px;

  background-color: $white;

  &--open {
    top: 65px;
    left: 0;
    //display: block;
    //Включает отображение выпадающего меню
    display: none;
  }
}

.page-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  font-family:"Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;

}

.page-nav__item {
  position: relative;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    width: 100%;
    min-width: 280px;
    height: 1px;

    background-color: $border-grey;
  }

  &:last-child::after {
      content: "";

      position: absolute;
      bottom: 1px;
      left: 0;

      width: 100%;
      min-width: 280px;
      height: 1px;

      background-color: $border-grey;
  }
}

.page-nav__link {
  display: block;
  color: $black;
  text-align: center;
}
