.page-main {
  @media (min-width: $desktop-width) {
    margin-top: -123px;
  }
}

.page-main__type-of-products {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-main__additional-information {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 55px;
  padding-top: 25px;

  background-color: $darker-grey;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    padding-top: 0;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
    padding-top: 0;
  }
}
