
.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-height: 100%;
  margin: 0;

}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(0 0 0 0);
  border: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.button {
  cursor: pointer;

  font-family: "Oswald-400" , sans-serif;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;

  background-color: #68B738;
  border: none;
}

.section-header {
  margin: 0;

  font-family: "Oswald-400" , sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
