.preview-content {
  position: relative;

  justify-content: center;

  width: 100%;

  font-weight: 400;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin-right:  auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;

    width: 1440px;
    padding-top: 123px;
    padding-bottom: 190px;
    /* stylelint-disable */
    background-image: url("../img/main-green-cat-desktop.jpg");
    background-image:
      image-set(
          "../img/main-green-cat-desktop@2x.webp" 2x type("image/webp"),
          "../img/main-green-cat-desktop.webp" 1x type("image/webp"),
          "../img/main-green-cat-desktop@2x.jpg" 2x type("image/jpeg"),
          "../img/main-green-cat-desktop.jpg" 1x type("image/jpeg")
      );
    /* stylelint-enable */
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 720px 694px;
  }
}

.preview-content__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
  }
}

.preview-content__text-wrapper {
  display: flex;
  flex-direction: column;

  background-color: $preview-content-green;
  background-image: url("../img/main-green-cat.jpg");
  background-image:
    image-set(
      "../img/main-green-cat@2x.webp" 2x type("image/webp"),
      "../img/main-green-cat.webp" 1x type("image/webp"),
      "../img/main-green-cat@2x.jpg" 2x type("image/jpeg"),
      "../img/main-green-cat.jpg" 1x type("image/jpeg"));
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.preview-content__title {
  align-self: center;

  width: 250px;
  margin-top: 27px;
  margin-bottom: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: start;

    width: 450px;
    margin-top: 50px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
  }
}

.preview-content__slogan {
  margin-top: 25px;
  margin-bottom: 163px;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }
}

.preview-content__image {
  display: block;
  margin-top: -134px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
  position: absolute;
    z-index: 0;
    left: 29px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    top: 121px;
    left: 558px;
  }
}

.preview-content__link {
  margin-top: 3px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    z-index: 1;

    width: 244px;
    margin-top: 49px;
    margin-right: 0;
    margin-left: 0;
    padding: 17px 26px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
  }
}
