.product__wrapper {
  display: grid;
  grid-template-areas:
  "image description"
  "button button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  margin: 0 auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    width: 324px;
    margin-left: 0;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 36px;

    background-color: $basic-grey  ;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-right: 36px;
    padding-left: 40px;
  }
}

.product__picture {
  display: block;
  grid-area: image;

  width: 140px;
  height: 112px;
  margin-left: auto;
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    margin: 0 auto;
    margin-top: -93px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -100px;
  }
}

.product__description-wrapper {
  display: flex;
  grid-area: description;
  flex-direction: column;
  gap: 15px;

  width: 140px;

  @media (min-width: $tablet-width) {
    gap: 19px;
    width: 251px;
    margin: 0 auto;
    margin-bottom: 41px;

  }

  @media (min-width: $desktop-width) {
    gap: 24px;
    width: 170px;
    margin: 0;
    margin-bottom: 40px;
  }
}

.product__name {
  width: 76px;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $black-title-lighter;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 154px;
    margin: 0 auto;
    margin-top: 34px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 43px;
    line-height:21px;
  }
}

.product__info {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $black-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 248px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.product__info-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__button {
  grid-area: button;

  margin-top: 12px;
  padding-bottom: 9px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: auto;
  }
}
