.type-of-product {
  @media (min-width: $desktop-width) {
    width: 570px;

  }
}

.type-of-product__header {
  position: relative;

  margin: 0;
  padding-top: 30px;
  padding-left: 91px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
  }

  &--pro {
    @media (min-width: $desktop-width) {
      padding-left: 63px;

    }
  }

  &--slim::after {
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;

    background-image: url("../img/type-of-product-cat-slim.svg");
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      top: 42px;
      left: 52px;

      display: block;

      width: 100px;
      height: 106px;

      background-image: url("../img/type-of-product-cat-slim-desktop.svg");

    }
  }

  &--pro::after {
    top: 24px;
    left: 13px;

    width: 67px;
    height: 50px;

    background-image: url("../img/type-of-product-cat-pro.svg");
    @media (min-width: $tablet-width) {
      display: none;

    }
    @media (min-width: $desktop-width) {
      top: 48px;
      left: 33px;

      display: block;

      width: 134px;
      height: 100px;

      background-image: url("../img/type-of-product-cat-pro-desktop.svg");

    }

  }
  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 54px;
    font-size: 36px;
    line-height: 36px;

  }

  @media (min-width: $desktop-width) {
    padding-left: 23px;
    text-align: center;

  }

}

.type-of-product__paragraph {
  position: relative;

  margin-top: 29px;
  margin-right: 33px;
  margin-bottom: 27px;
  margin-left: 20px;

  font-family: "Arial" , sans-serif;
  font-weight: 400;
  color: $black-text;

  &::after {
    content: "";

    position: absolute;
    bottom: -23px;
    left: 0;

    width: 100%;
    min-width: 240px;
    height: 1px;

    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;

    }
  }

  &--pro::before {
    @media (min-width: $tablet-width) {
      content: "";

      position: absolute;
      top: -47px;
      right: 28px;

      width: 268px;
      height: 200px;

      background-image: url("../img/type-of-product-cat-pro-tablet.svg");

    }
    @media (min-width: $desktop-width) {
      display: none;

    }
  }

  &--slim::before {
    @media (min-width: $tablet-width) {
      content: "";

      position: absolute;
      top: -57px;
      right: 62px;

      width: 200px;
      height: 211px;

      background-image: url("../img/type-of-product-cat-slim-tablet.svg");
    }
    @media (min-width: $desktop-width) {
      display: none;

    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 316px;
    padding-left: 52px;
    font-size: 16px;
    line-height: 24px;

  }
  @media (min-width: $desktop-width) {
    margin-top: 75px;
    margin-bottom: 5px;
    padding-right: 51px;

  }
}

.type-of-product__link {
  position: relative;

  display: flex;

  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 19px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  &::after {
    content: "";

    align-self: center;

    width: 32px;
    height: 12px;
    margin-left: 16px;

    background-image: url("../img/type-of-product-link-arrow.svg");

    @media (min-width: $tablet-width) {
      margin-left: 25px;

    }
    @media (min-width: $desktop-width) {
      height: 12px;
      margin-left: 27px;

    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-bottom: 62px;
    padding-left: 52px;

    font-size: 20px;
    line-height: 20px;

  }
  @media (min-width: $desktop-width) {
    padding-top: 26px;
    padding-bottom: 65px;

  }
}
