@import "blocks/page";
@import "blocks/page-header";
@import "blocks/page-main";
@import "blocks/type-of-products";
@import "blocks/advantages-information";
@import "blocks/additional-information";
@import "blocks/address";
@import "blocks/page-footer";

@font-face {
  font-family: "Oswald-400";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald-400.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-500";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald-500.woff2") format("woff2");
}
